.mobileNavModal {
    background-color: var(--main-theme-background-colour);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobileNavModal ul {
    text-align: center;
    padding: 0;
}

.mobileNavModal__exitButton {
    height: 20px;
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 20px;
}

/* .mobileNavModal img {
    height: 20px;
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 20px;
} */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
}

.navbar__entries {
    display: flex;
    flex-direction: row;
}

.navbar__title {
    color: var(--title-text-colour);
    font-weight: var(--title-font-weight);
    /* margin: 0;
    margin-left: 50px; */
    font-size: 1.5rem;
}

.navbar__list {
    list-style-type: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.navbar__entry {
    color: var(--menu-text-colour);
    font-weight: var(--menu-font-weight);
    font-size: 0.8rem;
}

.navbar__entry--mobile {
    font-size: 1rem;
    margin: 1.25rem;
}

.navbar__entry:hover {
    color: var(--menu-text-hover-colour);
    transition: 0.75s;
}

.pointer {
    cursor: pointer;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--mobile {
    margin-top: 50px;
}

.icon--mobile img {
    margin-left: 20px;
    margin-right: 20px;
}

.icon img {
    height: 20px;
}