.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.navbar__entries {
    display: flex;
    flex-direction: row;
}

.navbar__title {
    color: black;
    font-weight: 800;
    margin: 0;
}

.navbar__list {
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar__entry {
    color: grey;
    font-weight: 400;
}

.navbar__entry:hover {
    color: black;
    transition: 0.75s;
}

.pointer {
    cursor: pointer;
}