<div class="navbar">
    <div class="pointer">
        <p class="navbar__title" routerLink="/posts">{{siteTitle | uppercase}}</p>
    </div>
    <ul class="navbar__entries">
        <li class="navbar__list pointer">
            <p class="navbar__entry" routerLink="/posts">HOME</p>
        </li>
        <li class="navbar__list pointer" *ngFor="let tag of this.tags">
            <p class="navbar__entry" routerLink="/posts/{{tag}}">{{tag.replace('-', ' ') | uppercase}}</p>
        </li>
        <li class="navbar__list pointer">
            <p class="navbar__entry" routerLink="/where-am-i">WHERE AM I?</p>
        </li>
        <li class="navbar__list pointer">
            <p class="navbar__entry" routerLink="contact">CONTACT</p>
        </li>
        <li class="navbar__list pointer icon">
            <a href="https://www.youtube.com/@cycling-south"><img class="navbar__entry" src="assets/yt_icon_mono_light.png"></a>
        </li>
        <li class="navbar__list pointer icon">
            <a href="https://www.instagram.com/toby.s91"><img class="navbar__entry" src="assets/Instagram_Glyph_Black.png"></a>
        </li>
    </ul>
</div>

