.post {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post__title {
    font-weight: 800;
    font-size: 50px;
}

.post__subtitle {
    font-weight: 500;
    font-style: italic;
    color: darkgray;
}

.post__content {
    color: black;
    line-height: 1.5rem;
}