


<div [hidden]="!previewSwiperOn" [ngClass]="isHandsetPortrait || isHandsetLandscape ? 'gallery-wrapper-mobile' : 'gallery-wrapper'">
    <swiper-container id="swiper1" class="previewGallery">
        <swiper-slide class="gallery__item-wrapper" *ngFor="let photo of photos; let i=index">
            <img class="gallery__item" src="http://127.0.0.1:1337{{photo.formats.large.url}}" (click)="goToModalView(i)">
        </swiper-slide>
    </swiper-container>

</div>



<div [hidden]="!modalSwiperOn">
    <div class="lightbox-modal">
        <swiper-container id="swiper2">
            <swiper-slide *ngFor="let photo of photos; let j=index">
                <div class="lightbox-close" (click)="goToPreviewView(j)">X</div>
                <img src="http://127.0.0.1:1337{{photo.url}}">
            </swiper-slide>
        </swiper-container>  
    </div>
</div>


