

<div *ngIf="swiperOn">
    <div class="lightbox-modal">
        <div class="lightbox-close" (click)="closeSwiper()">X</div>
        <swiper [config]="config" class="mySwiper">
            <ng-template swiperSlide *ngFor="let photo of photos">
                <img src="http://127.0.0.1:1337{{photo.url}}">
            </ng-template>
        </swiper>
    </div>    
</div>


<!-- https://css-tricks.com/adaptive-photo-layout-with-flexbox/ -->
<div>
    <ul class="gallery">
        <li class="gallery__item-wrapper" *ngFor="let photo of photos; let i = index">
            <img class="gallery__item" src="http://127.0.0.1:1337{{photo.formats.small.url}}" (click)="initSwiper(i);">
        </li>
        <li></li>
    </ul>        
</div>


