.index {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cover {
    position: relative;
    width: 25vw;
    height: 16.67vw;
    /* height: 300px; */
    overflow: hidden;
}

.cover--mobile {
    position: relative;
    width:100vw;
    height: 66.67vw;
    overflow:hidden;
}

.cover--mobile-landscape {
    position: relative;
    width: 50vw;
    height: 33.33vw;
    overflow: hidden;
}

.cover--mobile-landscape img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
}

.cover--mobile img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
}

.cover img {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    object-fit: cover;
}

.overlay--mobile {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4) 25px, rgba(0,0,0,0))
}

.overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms, visibility 300ms;
}

.overlay__text {
    position: absolute;
    left: 20px;
    top: 10px;
}

.overlay__text-header {
    color: white;
    font-weight: 800;
    margin: 0;
}

.overlay__text-subheader {
    color: white;
    font-weight: 400;
    margin: 0;
}

.cover:hover .overlay {
    visibility: visible;
    opacity: 1;
}

