
<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit(contactForm)" class="form" #contactForm="ngForm">
        <div class="form__group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form__item" placeholder="Name" required [(ngModel)]="model.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert">
                Please enter your name.
            </div>
        </div>
        <div class="form__group">
            <label for="email">Email</label>
            <!-- FIXME HTML5 email validator isn't working - lets non valid email addresses through -->
            <input type="email" id="email" class="form__item" placeholder="Email address" [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert">
                Please enter a valid email address.
            </div>
        </div>
        <div class="form__group">
            <label for="message">Message</label>
            <textarea id="message" class="form__item" placeholder="Enter your message" required [(ngModel)]="model.message" name="message" #message="ngModel"></textarea>
            <div [hidden]="message.valid || message.pristine" class="alert">
                Please enter a message.
            </div>
        </div>
        <div class="form__group">
            <button type="submit" class="form__item" [disabled]="!contactForm.form.valid">Submit</button>
        </div>
    </form>
</div>
<div [hidden]="!submitted">
    <h2 class="form__group">Message submitted!</h2>
</div>

