<div [hidden]="submitted">
    <p>{{ msg }}</p>
    <form (ngSubmit)="onSubmit(subscribeForm)" [ngClass]="isHandsetPortrait || isHandsetLandscape ? 'form form--mobile' :
                                                        'form'" #subscribeForm="ngForm">
        <div class="form__group">
            <label for="email">Email</label>
            <!-- FIXME HTML5 email validator isn't working - lets non valid email addresses through -->
            <input type="email" id="email" class="form__item" placeholder="Email address" required [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert">
                Please enter a valid email address.
            </div>
        </div>

        <div class="form__group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form__item" placeholder="Password"
                   required minlength="6" [(ngModel)]="model.password" name="password" #password="ngModel">
            <div [hidden]="password.valid || password.pristine" class="alert">
                Please enter a password.
            </div>
            <div *ngIf="password.errors?.['minlength']" class="alert">
                Password must be at least 6 characters.
            </div>
        </div>

        <!--TODO password match validation-->
        <div class="form__group"> 
            <label for="repeatPassword">Password</label>
            <input type="password" id="repeatPassword" class="form__item" placeholder="Repeat password" required [(ngModel)]="model.repeatPassword" name="repeatPassword" #repeatPassword="ngModel">
            <div [hidden]="repeatPassword.valid || repeatPassword.pristine" class="alert">
                Passwords must match.
            </div>
        </div>
        <div class="form__group">
            <button type="submit" class="form__item" [disabled]="!subscribeForm.form.valid">Submit</button>
        </div>
    </form>
</div>
<div [hidden]="!submitted">
    <h2 class="form__group">You are now subscribed!</h2>
</div>
