<div [hidden]="submitted">
    <form (ngSubmit)="onSubmit(subscribeForm)" [ngClass]="isHandsetPortrait || isHandsetLandscape ? 'form form--mobile' :
                                                        'form'" #subscribeForm="ngForm">
        <div class="form__group">
            <label for="email">Email</label>
            <!-- FIXME HTML5 email validator isn't working - lets non valid email addresses through -->
            <input type="email" id="email" class="form__item" placeholder="Email address" required [(ngModel)]="model.email" name="email" #email="ngModel">
            <div [hidden]="email.valid || email.pristine" class="alert">
                Please enter a valid email address.
            </div>
        </div>
        <div class="form__group">
            <button type="submit" class="form__item" [disabled]="!subscribeForm.form.valid">Submit</button>
        </div>
    </form>
</div>
<div [hidden]="!submitted">
    <h2 class="form__group">You are now subscribed!</h2>
</div>
