/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: "Raleway";
}


/* IMPORTS */

@import url('assets/forms.css');

/* RESETS */
body {
    margin: 0;
}


/* CSS Variables */
:root {
    --main-theme-background-colour: #e2e2c8;
    background-color: var(--main-theme-background-colour);
    --menu-text-colour: grey;
    --menu-text-hover-colour: black;
    --menu-font-weight: 500;
    --title-text-colour: black;
    --title-font-weight: 800;



    --desktop-body-text-font-size: 1.25rem;
    --desktop-body-text-line-height: 1.75rem;



    --mobile-title-text-font-size: 2rem;
    --mobile-subtitle-text-font-size: 1.5rem;
    --mobile-body-text-font-size: 1rem;
    --mobile-body-text-line-height: 1.75rem;


   

   
    



    --swiper-pagination-color: #B31E00;
    /* --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-width: 8px;
    --swiper-pagination-bullet-height: 8px; */
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-bullet-inactive-opacity: 1;
    /* --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap: 6px;  */

}