/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Raleway";
    src: url('/assets/fonts/Raleway-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

* {
    font-family: "Raleway";
}


/* IMPORTS */

@import url('assets/forms.css');

/* RESETS */
/* .html {
    font-size: 10px;
} */


/* CSS Variables */
:root {
    --menu-text-colour: grey;
    --menu-text-hover-colour: black;
    --menu-font-weight: 500;
    --title-text-colour: black;
    --title-font-weight: 800;



    --desktop-body-text-font-size: 1.25rem;

    --mobile-body-text-font-size: 1rem;
    --mobile-body-text-line-spacing: 1.5rem;

    --mobile-title-text-font-size: 2rem;
    --mobile-subtitle-text-font-size: 1.5rem;

}