.mapContainer {
  overflow: hidden;
  /*padding-top: 66.66%;*/
  position: relative;
  height: 670px;
}

.mapContainer--mobile {
  overflow: hidden;
  /*padding-top: 66.66%;*/
  position: relative;
  height: 70vh;
}

.mapContent {
  border: 0;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
